<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
    .stats {
        display: flex;
        gap: 20px;
        margin: 20px 0;
    }
    .card {
        padding: 20px;
        width: 150px;
        border-radius: 10px;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    .pending {
        background-color: #f1c40f;
    }
    .completed {
        background-color: #2ecc71;
    }
    .missed {
        background-color: #e74c3c;
    }
</style>

</head>
<body>
    <h1>Task Tracker </h1>

    <h2>Welcome {{ username }} 🎉</h2>
    

    <a href="/logout">Logout</a>
    <hr>
<h2>Task Overview</h2>

<div class="stats">
    <div class="card pending">
        Pending<br>
        {{ stats.pending }}
    </div>

    <div class="card completed">
        Completed<br>
        {{ stats.completed }}
    </div>

    <div class="card missed">
        Missed<br>
        {{ stats.missed }}
    </div>
</div>

<hr>

<h2>Task Statistics</h2>

<div style="display:flex; gap:20px; margin-bottom:20px;">
    <div>
        <strong>Pending</strong><br>
        {{ stats.pending }}
    </div>

    <div>
        <strong>Completed</strong><br>
        {{ stats.completed }}
    </div>

    <div>
        <strong>Missed</strong><br>
        {{ stats.missed }}
    </div>
</div>

<hr>

    <h2>Add Task</h2>

    <form action="/add" method="POST">
        <input type="text" name="task" placeholder="Task title" required>
        <input type="date" name="deadline" required>
        <button type="submit">Add Task</button>
    </form>


<h2>Your Tasks</h2>

<ul>
{% for task in tasks %}
    <li
        {% if task[3] == "missed" %}
            style="color:red;"
        {% elif task[3] == "completed" %}
            style="color:green;"
        {% endif %}
    >
        {{ task[1] }} ({{ task[3] }})

        {% if task[3] == "pending" %}
            <a href="/complete/{{ task[0] }}">✅</a>
        {% endif %}

        <a href="/delete/{{ task[0] }}">❌</a>
    </li>
{% endfor %}
</ul>

</body>
</html>
